# Copy this file to .env and update the values below

# Application Settings
APP_NAME="Ramirez LavaLust Labs"
APP_KEY=
APP_ENV=development

# Database Configuration
DB_DRIVER=mysql
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=mydb
DB_SSL_CA=
DB_CHARSET=utf8mb4

# Student Profile (Lab 3)
STUDENT_NAME="Bon Josh Paolo D. Ramirez"
STUDENT_ID="MCC2023-1110"
STUDENT_COURSE="BS Information Technology"
STUDENT_YEAR_LEVEL="3rd Year"
STUDENT_SECTION="3F2"
STUDENT_EMAIL="ramirezbonjoshpaolo00@gmail.com"

# Lab 5 Authentication
AUTH_USERNAME=admin
AUTH_PASSWORD=
